@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.title {
    text-align: center;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: #e1f1ff;
    margin: 1rem 0;
}

.title::selection {
    color: red;
    background: none;
}

body {
    background-color: #5E84C2;
}

.formSection {
    display: flex;
    justify-content: center;
}

form {
    width: 70%;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    box-shadow: rgb(155, 89, 182) 10px 10px 10px;
}

.passwordResultContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    letter-spacing: 1px;
    background-color: #002557;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#generatedPassword {
    color: white;
    width: 85%;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    min-height: 25px;
}

#generatedPassword::selection {
    color: red;
    background: none;
}

.passwordResultContainer .btnsContainer {
    width: 15%;
    display: flex;
}

.passwordResultContainer button {
    width: 100%;
    cursor: pointer;
    background-color: #3B3B98;
    border: none;
    color: #fff;
    font-size: 40px;
    padding: 0 !important;
}

.passwordResultContainer button:first-child {
    border-bottom-left-radius: 30px;
}

.passwordResultContainer button:nth-child(2) {
    border-top-right-radius: 30px;
}

.passwordResultContainer button:hover {
    opacity: 0.8;
}

.passLengthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #002557;
    padding: 0.5rem;
}

.passLengthContainer input {
    width: 70%;
    cursor: pointer;
    accent-color: #3B3B98;
}

.passLength {
    color: white;
    font-size: 2rem;
    max-width: 20rem;
    border-radius: 30px;
    padding: 0.3rem 3.5rem;
    background-color: #3B3B98;
}

.checkboxesContainer {
    font-size: 2rem;
    background-color: #002557;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.checkboxContainer {
    display: flex;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-radius: 30px;
    background-color: #3B3B98;
    font-style: italic;
    color: white;
}

.checkboxContainer input {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    accent-color: #9b59b6;
}

.checkboxContainer label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkboxContainer:hover {
    opacity: 0.9;
}

.checkboxContainer:hover,
.checkboxContainer input:hover,
.checkboxContainer label:hover {
    cursor: pointer;
}

.formBtnContainer {
    background-color: #002557;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.formBtn {
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    background-color: #3B3B98;
    border: none;
    color: white;
}

.formBtn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.alertContainer {
    font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1000px) {

    #generatedPassword {
        width: 70%;
    }

    .passwordResultContainer .btnsContainer {
        width: 30%;
    }

    .formBtn {
        font-size: 1.3rem;
    }

    .passLength {
        font-size: 1.2rem;
    }

    .passLengthContainer {
        padding: 0.5rem 2rem;
    }
}

@media only screen and (max-width: 500px) {
    #generatedPassword {
        width: 60%;
    }

    .passwordResultContainer .btnsContainer {
        width: 40%;
    }
}